body{position: relative;padding-top: 51px}
a{cursor: pointer;}
a,a:hover,a:focus{text-decoration: none;}
ul,ol,p{margin: 0;padding: 0}
li{list-style-type: none;}
button,.btn{outline: none !important}
.navbar-brand{width: 120px;text-align: center;font-size: 27px}
.navbar .nav-tabs{border-bottom: none}
.nav-tabs>li{margin-bottom: -2px}
.nav-tabs>li>a{margin: 0;border-radius: 0}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border: none;}
.main{}
.sidebar{
  width: 120px;
  background-color: #333
}
.sidebar:before {
    content: "";
    display: block;
    width: 120px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: #333;
}
.sidebar a{color: #ccc}
.sidebar>div>ul>li>a{
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: left;
  padding-left: 15px;
}
.sidebar .submenu{display: none}
.ajax-loading-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80FFFFFF', endColorstr='#80FFFFFF',GradientType=0 );
  background: rgba(255, 255, 255, 0.5) url('../image/loading-9.gif') no-repeat center;
  position: fixed;
  z-index: 2999;
}
.body-left{position: fixed;width: 190px;top: 0}
.body-left:before{content: '';position: fixed;width: 190px;left: 0;top: 0;bottom: 0;border-right: 1px solid #ccc;box-shadow: 0 1px 15px 0 #aaa}
.body-left .logo{background-color: #333;box-shadow: 0 0 15px 0 #666}
.body-left .logo a{display: block;text-align: center;line-height: 50px;font-size: 27px;color: #ddd;font-weight: lighter;}

.body-right{margin-left: 190px;margin-top: 50px}
.body-right:after {background-color: #FFF;bottom: 0;content: "";display: block;max-width: inherit;position: fixed;top: 0;width: 100%;z-index: -2}
.view {min-height: 100%;padding: 20px;}
.actions a{display: inline-block;line-height: 12px;border-right: 1px solid #444;padding: 0 7px 0 3px;font-size: 12px}
.actions a:first-child{padding-left: 0}
.actions a:last-child{border-right-width: 0;}
.form-actions .btn{width: 100px;margin-right: 10px;padding: 2px}
.table{margin-bottom: 0}
.table tr td{border-bottom: 1px solid #ddd;vertical-align: middle !important;}
.pagination{margin: 0}
.over-ellipsis{text-overflow: ellipsis;word-break: break-all;overflow: hidden;display:-webkit-box; -webkit-box-orient:vertical;}
.over-ellipsis-2{text-overflow: ellipsis;word-break: break-all;overflow: hidden;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;}
.over-ellipsis-3{text-overflow: ellipsis;word-break: break-all;overflow: hidden;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3;}
.view-head {border-bottom: 1px dotted #e2e2e2;margin-bottom: 12px;padding-bottom: 5px}
.view-head h1 {padding: 0;margin: 0;font-size: 26px;font-weight: lighter;float: left;margin-right: 15px}
.view-head h1 small {margin: 0 6px;font-size: 14px;font-weight: normal;color: #8089a0}
.search-form{padding: 12px 12px 7px 7px;border: 1px solid #eee;border-radius: 3px 3px 0 0;margin-bottom: 12px;}
.search-form .input-group{width: 250px;float: left;margin: 0 10px 5px 5px}
.toolbar .btn{border-radius: 0;padding: 3px 10px;min-width: 100px}
.toolbar .dropdown-menu{min-width: 103px;right: 0;left: auto}
td.radio, td.checkbox, th.radio, th.checkbox{margin: 0;display: table-cell;}
/*表单样式*/
input.xs{width: 150px}
input.sm{width: 250px}
input.md{width: 450px}
input.lg{width: 550px}
.form-horizontal .form-group{margin-right: 0;margin-left: 0}
.form-control{height: 32px}
.form-group .help-info{color: #888 !important;margin-top: 5px}
.form-group .control-label{min-width: 85px;display: inline-block;vertical-align: top;margin-right: 5px;padding-top: 6px;text-align: right !important}
.form-group>div{display: inline-block;min-width: 80%}
.control-label b{color: #ff0000;font-weight: bold;vertical-align: top;font-size: 20px;margin-right: 3px}
.labels label:not(last-child){margin-right: 20px}
i{margin: 0 3px}

.pager-container{
	height: 27px;
    line-height: 26px;
    margin-top: 10px
}
.table tr td{
    border-bottom: 1px solid #ddd;
    vertical-align: middle !important;
}
.table>thead>tr>th{
	border-bottom-width: 1px;
	border-top: 1px solid #ddd !important;
}
.pagination>li>a, .pagination>li>span{padding: 5px 10px 3px 10px;margin-left: 8px;font-size: 12px;}
.pagination>li:first-child>a, .pagination>li:first-child>span{border-radius: 0}
.pagination>li:last-child>a, .pagination>li:last-child>span{border-radius: 0}
.pagination{margin: 0}